:host {
  display: block;
  font-size: 13px;
}

.top-flow {
  margin: 14px 0;
  background: white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
  border: 1px solid #ddd;
  border-radius: 6px;
  overflow: hidden;
  font-weight: 700;

  .flow {
    padding: 13px 0;
    font-size: 14px;
    user-select: none;
    line-height: 24px;
    color: #9b9bad;
    display: flex;
    align-items: center;
    justify-content: center;

    .fas {
      margin-right: 9px;
      font-size: 20px;
      line-height: 24px;
    }

    &.active {
      color: #4183C4;

      .fas {
        color: #444;
      }
    }

    &.finished {
      cursor: pointer;
      .fas {
        color: #49b549;
      }
    }
  }

  .flow-next {
    border-right: 1px solid #ddd;
    background: #fff;

    &::after {
      position: absolute;
      z-index: 2;
      content: '';
      top: 50%;
      right: 0;
      border: solid;
      background-color: #fff;
      width: 1.14285714em;
      height: 1.14285714em;
      border-color: #ddd;
      border-width: 0 1px 1px 0;
      transform: translateY(-50%) translateX(50%) rotate(-45deg);
    }
  }

  .active.flow-next {
    border-right: 1px solid #ddd;
    background: #f3f4f5;

    &:after {
      background: #f3f4f5
    }
  }
}
