:host {
  position: absolute;
  width: 40%;
}

.wallet-manager {
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  background: #fff;
  padding: 40px;
  border-radius: 5px 5px;
  border: 1px solid #f8f9fa;
  display: flex;
  flex-direction: column;

  ul li {
    cursor: pointer;

    span:not(.active) {
      color: #007bff;
    }
  }

  .input-info {
    width: 100%;
    height: 100%;
    padding-top: 10px;

    input {
      margin: 5px 0;
    }

    .custom-file {
      margin-bottom: 5px;
    }
  }

  .wallet-add {
    margin-top: 10px;
  }

  .warning {
    width: 100%;
    text-align: center;
    color: red;
    font-size: 0.9em;
    font-weight: 500;
    margin: 10px 0;
  }
}
