:host {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.95);
  border: 1px solid black;
  border-radius: 5px 5px;
}

.no-messages {
  color: #999;
  font-size: 1.4rem;
}

textarea {
  width: 100%;
}
