<div *ngIf="currentMsg" class="message">
  <!--<i class="fa fa-edit"></i>-->

  <div class="popup-info">
    <div class="title-icon">
      <img src="assets/blockchain/protocol/ethereum-256x256.png" *ngIf="blockChain.protocol === 'eth'">
      <img src="assets/blockchain/protocol/ontology-256x256.png" *ngIf="blockChain.protocol === 'ont'">
    </div>

    <div class="title"> Sign Message </div>

    <div class="description">
      App tries to sign following message by your wallet
    </div>
  </div>

  <div class="popup-content">
    <div class="info">
      <label for="address">Signer (Wallet Address)</label>
      <span id="address" class="address">{{currentMsg.from}}</span>
    </div>
    <!--<p> {{currentMsg.from}} </p>-->

    <div class="info form-group">
      <label for="message">Message</label>
      <textarea rows="3" id="message" class="form-control" readonly>{{parsedCurrentMsg}}</textarea>
    </div>

    <div class="info form-group">
      <label for="password">Wallet Password</label>
      <input class="form-control" id="password" type="password" [(ngModel)]="password">
    </div>

    <div class="info warning">
      {{ warningMessage }}
    </div>
  </div>

  <div class="message-action">
    <button class="btn btn-success mr-1" (click)="sign()" [disabled]="!password"> Accept </button>
    <button class="btn btn-danger ml-1" (click)="reject()"> Reject </button>
  </div>
</div>

<div *ngIf="!currentMsg" class="no-messages">
  There are no messages to sign
</div>
