<div class="sidebar-items">
  <!--<a [class.active]="currentTab === 'wallet'" (click)="changeTab('wallet')">-->
  <!--</a>-->
    <div class="item" [class.active]="currentMenu === 'home'" (click)="changeMenu(['/home'])">
      <i class="fas fa-wallet"></i>
      <span class="item-text">Wallet</span>
    </div>

    <div class="item" [class.active]="currentMenu === 'studio'" (click)="changeMenu(['/board/select'])" *ngIf="currentUser !== null">
      <i class="fas fa-bezier-curve"></i>
      <span class="item-text">Studio</span>
    </div>
</div>
