<div class="login">
  <div class="row mt-1 blockchain-select">
    <div class="btn-group btn-group-toggle protocol-select" data-toggle="buttons">
      <label class="btn btn-sm btn-outline-dark" [class.active]="blockChain.protocol === 'eth'">
        <input type="radio" name="options" autocomplete="off" (click)="switchProtocol('eth')"> Ethereum
      </label>

      <label class="btn btn-sm btn-outline-dark" [class.active]="blockChain.protocol === 'ont'">
        <input type="radio" name="options" autocomplete="off" (click)="switchProtocol('ont')"> Ontology
      </label>
    </div>

    <div class="btn-group btn-group-toggle network-select">
      <label class="btn btn-sm btn-outline-dark" [class.active]="blockChain.network === 'mainNet'">
        <input type="radio" name="options" autocomplete="off" (click)="switchNetwork('mainNet')"> MainNet
      </label>

      <label class="btn btn-sm btn-outline-dark" [class.active]="blockChain.network === 'testNet'">
        <input type="radio" name="options" autocomplete="off" (click)="switchNetwork('testNet')"> TestNet
      </label>
    </div>
  </div>

  <div class="select-account mt-2">
    <h2> Select your account </h2>
    <select class="form-control mt-3" id="account" name="account" [(ngModel)]="selectedAccount">
      <!-- For solving data binding problem after switching protocol -->
      <option value="" style="display: none"></option>
      <!--------------------------------------------------------------->
      <option *ngFor="let account of accounts" [value]="account.address" class="test">
        {{account.name}} ({{account.address}})
      </option>
    </select>

    <input type="password" class="form-control mt-2" id="password" name="password" placeholder="Password"
           *ngIf="blockChain.protocol === 'ont'" [disabled]="!selectedAccount" [(ngModel)]="selectedPassword">

    <div class="warning" *ngIf="warningMessage !== ''">
      {{ warningMessage }}
    </div>

    <div class="row mt-3 login-btns">
      <!-- TODO: implement ontology login service -->
      <button type="button" class="btn btn-success mr-1" (click)="login()" [disabled]="!selectedAccount || blockChain.protocol === 'ont'"> Login </button>
      <button type="button" class="btn btn-success ml-1" (click)="createWallet()"> Create Account </button>
    </div>

    <div class="row other-link mt-1">
      <div>
        <a [routerLink]="" (click)="goToWalletManager()">Want to Manage all your accounts?</a>
      </div>
    </div>
  </div>
</div>
