.jumbotron {
  background: transparent;
}

:host {
  display: flex;
  justify-content: center;
  height: 100%;
}

$login-width: 500px;
$protocol-button-height: 40px;

.blockchain-select {
  width: 100%;
  display: flex;
  flex-direction: row;

  .network-select {
    padding-left: 5px;
  }

  .protocol-select {
    padding-right: 5px;
  }

  .protocol-select, .network-select {
    width: 50%;
  }
}

.btn-dropdown {
  background: #fff;
  border: 1px solid #e4e4e4;
}

.dropdown-menu, .dropdown-toggle {
  text-align: left;
  font-size: 17px;
  line-height: $protocol-button-height;

  img {
    width: 32px;
    height: 32px;
  }
}

.dropdown-menu {
  width: 100%;
}

.dropdown-toggle {
  width: 100%;
};

.dropdown-toggle::after {
  display: none;
}

.dropdown-item {
  padding-left: 12px;
  cursor: pointer;
}


.login {
  width: $login-width;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h3 {
    user-select: none;
    cursor: default;
    display: block;
    width: 100%;
    font-size: 24px;

    img {
      width: 64px;
      height: 64px;
      margin-right: 8px;
    }
  }

  .select-account {
    background: #fefefe;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 5px 5px;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
    padding: 15px;

    input {
      height: $protocol-button-height + 14px;
    }

    .account-list {
      width: 100%;

      .dropdown-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
      }

      .btn-dropdown {
        height: 54px;
        line-height: normal;

        .account-info {
          width: 100%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .account-name {
          font-weight: 600;
          font-size: 17px;
          line-height: 22px;
          margin-right: 5px;
        }

        .account-address {
          color: #888;
          font-size: 14px;
          line-height: 14px;
        }
      }

      .dropdown-menu {
        .account-name {
          display: block;
          width: 100%;
          font-weight: 600;
          font-size: 17px;
          line-height: 25px;
        }

        .account-address {
          display: block;
          width: 100%;
          font-size: 14px;
          line-height: 22px;
        }
      }
    }

    .warning {
      width: 100%;
      text-align: center;
      color: red;
      font-size: 0.9em;
      font-weight: 500;
      margin: 10px 0;
    }

    .login-btns {
      width: 100%;
      display: flex;
      flex-direction: row;
      margin: 10px 0;

      button {
        display: block;
        flex: 1;
        font-size: 0.9em;
      }
    }

    .other-link {
      width: 100%;
      border-top: 1px solid #eee;
      padding: 8px 0;
      margin: 0;

      div {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 0.82em;
      }
    }
  }
}

#account {
  width: 100%;
}
