.jumbotron {
  background: transparent;
}

:host {
  display: flex;
  justify-content: center;
  height: 100%;
}

$protocol-button-height: 40px;

.blockchain-select {
  width: 100%;
  display: flex;
  flex-direction: row;

  .protocol-select {
    width: 50%;
    padding: 5px;

    .btn {
      font-size: 0.82em;
      width: 100%;
      line-height: $protocol-button-height;
    }

    .dropdown {
    }

    .btn-dropdown {
      background: #fff;
      border: 1px solid #e4e4e4;
    }

    .dropdown-menu, .dropdown-toggle {
      width: 100%;
      text-align: left;
      font-size: 17px;
      line-height: $protocol-button-height;

      img {
        width: 32px;
        height: 32px;
      }
    }

    .dropdown-toggle::after {
      display: none;
    }

    .dropdown-item {
      cursor: pointer;
    }
  }

  .network-select {
    width: 50%;
    padding: 5px;

    .btn {
      font-size: 0.82em;
      width: 50%;
      line-height: $protocol-button-height;
    }
  }
}

.btn-network {
  background: #fff;
  border: 1px solid #e4e4e4;

  &.active {
    background: #ddd;
  }
}

//.btn-network + .active {
//  background: #000;
//}

.login {
  width: 500px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .select-account {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 5px 5px;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
    padding: 15px;

    select {
      font-size: 0.92em;
    }

    .warning {
      width: 100%;
      text-align: center;
      color: red;
      font-size: 0.9em;
      font-weight: 500;
      margin: 10px 0;
    }

    .login-btns {
      width: 100%;
      display: flex;
      flex-direction: row;
      margin: 10px 0;

      button {
        display: block;
        flex: 1;
        font-size: 0.9em;
      }
    }

    .other-link {
      width: 100%;
      border-top: 1px solid #eee;
      padding: 8px 0;
      margin: 0;

      div {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 0.82em;
      }
    }
  }
}

#account {
  width: 100%;
}


.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}
