<div class="login">


  <div class="select-account">
    <h3><img src="assets/muzika.png">Muzika Studio</h3>

    <div class="row blockchain-select">
      <div class="dropdown protocol-select">
        <button type="button" class="btn btn-dropdown dropdown-toggle" id="protocol" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <ng-container *ngIf="blockChain.protocol === 'eth'">
            <img src="assets/blockchain/protocol/ethereum-256x256.png"> Ethereum
          </ng-container>
          <ng-container *ngIf="blockChain.protocol === 'ont'">
            <img src="assets/blockchain/protocol/ontology-256x256.png"> Ontology
          </ng-container>
          <span class="float-right"><i class="fa fa-caret-down"></i></span>
        </button>

        <div class="dropdown-menu" aria-labelledby="protocol">
          <div class="dropdown-item" (click)="switchProtocol('eth')">
            <img src="assets/blockchain/protocol/ethereum-256x256.png"> Ethereum
          </div>
          <div class="dropdown-item" (click)="switchProtocol('ont')">
            <img src="assets/blockchain/protocol/ontology-256x256.png"> Ontology
          </div>
        </div>
      </div>

      <div class="dropdown network-select">
        <button type="button" class="btn btn-dropdown dropdown-toggle" id="network" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <ng-container *ngIf="blockChain.network === 'mainNet'">
            Main Network
          </ng-container>
          <ng-container *ngIf="blockChain.network === 'testNet'">
            Test Network
          </ng-container>
          <span class="float-right"><i class="fa fa-caret-down"></i></span>
        </button>

        <div class="dropdown-menu" aria-labelledby="network">
          <div class="dropdown-item" (click)="switchNetwork('mainNet')">
            MainNet
          </div>
          <div class="dropdown-item" (click)="switchNetwork('testNet')">
            TestNet
          </div>
        </div>
      </div>
    </div>

    <div class="dropdown account-list mt-3">
      <button type="button" class="btn btn-dropdown dropdown-toggle" id="wallet" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="d-flex flex-row">
          <div class="account-info">
            <ng-container *ngIf="selectedAccount">
              <span class="account-name">{{ selectedAccountName }}</span>
              <span class="account-address">({{ selectedAccount }})</span>
            </ng-container>
          </div>
          <span class="float-right ml-1"><i class="fa fa-caret-down"></i></span>
        </div>
      </button>

      <div class="dropdown-menu" aria-labelledby="wallet">
        <div *ngFor="let account of accounts" class="dropdown-item" (click)="selectedAccountName = account.name; selectedAccount = account.address">
          <span class="account-name">{{ account.name }}</span>
          <span class="account-address">{{ account.address }}</span>
        </div>
      </div>
    </div>

    <input type="password" class="form-control mt-2" id="password" name="password" placeholder="Password"
           [disabled]="!selectedAccount" [(ngModel)]="selectedPassword">

    <div class="warning" *ngIf="warningMessage !== ''">
      {{ warningMessage }}
    </div>

    <div class="row mt-3 login-btns">
      <!-- TODO: implement ontology login service -->
      <button type="button" class="btn btn-success mr-1" (click)="login()" [disabled]="!selectedAccount"> Sign in </button>
      <button type="button" class="btn btn-success ml-1" (click)="createWallet()"> Create Wallet </button>
    </div>

    <div class="row other-link mt-1">
      <div>
        <a [routerLink]="" (click)="goToWalletManager()">Want to Manage all your accounts?</a>
      </div>
    </div>
  </div>
</div>
