
<div class="wallet-list">
  <div class="topbar">
    <button type="button" class="btn btn-sm btn-danger" (click)="goBack()">Go Back</button>
    <div class="blockchain-info">
      <span class="badge badge-pill badge-success mr-1" *ngIf="!!blockChain.protocol">
        <ng-container *ngIf="blockChain.protocol === 'eth'">ETH</ng-container>
        <ng-container *ngIf="blockChain.protocol === 'ont'">ONT</ng-container>
      </span>
      <span class="badge badge-pill badge-dark" *ngIf="!!blockChain.protocol">
        <ng-container *ngIf="blockChain.network === 'mainNet'">MainNet</ng-container>
        <ng-container *ngIf="blockChain.network === 'testNet'">TestNet</ng-container>
      </span>
    </div>
  </div>

  <div class="wallet-info">
    <div class="list">
      <div class="accounts mb-2">
        <ul class="list-group">
          <li *ngFor="let account of accounts" class="list-group-item list-group-item-action">
            <h5>{{ account.name }}&nbsp;</h5>
            <span>{{ account.address }}</span>
            <div class="d-flex justify-content-between">
              <ng-container *ngIf="blockChain.protocol === 'eth'">
                <span>{{ account.balances.eth | number: '1.2-2' }} <small>ETH</small></span>
              </ng-container>
              <ng-container *ngIf="blockChain.protocol === 'ont'">
                <span>
                  {{ account.balances.ont | number: '1.2-2' }} <small>ONT</small> /
                  {{ account.balances.ong | number: '1.2-2' }} <small>ONG</small>
                </span>
              </ng-container>

              <span>{{ account.balances.mzk }} <small>MZK</small></span>
            </div>
          </li>
        </ul>
      </div>

      <div class="d-flex justify-content-between">
        <div>
          <button type="button" class="btn btn-primary" (click)="newWallet()">New Wallet</button>
          <button type="button" class="btn btn-primary ml-2" (click)="import()">Import</button>
        </div>
        <button type="button" class="btn btn-danger" [disabled]="!selectedAccount">Delete</button>
      </div>
    </div>

    <div class="detail"></div>
  </div>
</div>
